.uevc-slider-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
}

.uevc-slider-container>.video-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
}

.uevc-slider-container>.uevc-slider-clipper {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 0 0 2px white;
}

.uevc-slider-container>.uevc-slider-clipper>.video-wrapper {
    width: 200%;
    position: absolute;
    height: 100%;
    max-width: none;
    left: 0;
}

/* Vertical Slider Styles */
.uevc-slider-container.vertical>.uevc-slider-clipper {
    width: 100%;
    height: 50%;
    top: 0;
    bottom: auto;
    left: 0;
    right: 0;
    box-shadow: 0 0 0 0 white;
    /* Reset default shadow */
    border-bottom: 2px solid white;
}

.uevc-slider-container.vertical>.uevc-slider-clipper>.video-wrapper {
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
}

.uevc-wiper-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
}

.uevc-wiper-container>.video-wrapper {
    width: 99%;
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
}

.uevc-wiper-container>.uevc-wiper-clipper-outer {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
}

.uevc-wiper-container>.uevc-wiper-clipper-outer>.uevc-wiper-clipper {
    width: 99%;
    /* leave some space for border */
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    overflow: hidden;
    z-index: 3;
}

.uevc-wiper-container>.uevc-wiper-clipper-outer>.uevc-wiper-clipper>.video-wrapper>video {
    width: 100%;
    position: absolute;
    height: 100%;
    max-width: none;
    left: 0;
}

.uevc-three-video-comparison-container {
    display: inline-block;
    line-height: 0;
    position: relative;
    width: 100%;
}

.uevc-three-video-comparison-container>.video-wrapper {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    max-width: none;
}

.uevc-three-video-comparison-container>.uevc-slider-clipper {
    width: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    overflow: hidden;
    z-index: 3;
    box-shadow: 0 0 0 2px white;
}

.uevc-three-video-comparison-container>.uevc-slider-clipper>.video-wrapper {
    width: 200%;
    position: absolute;
    height: 100%;
    max-width: none;
    left: 0;
}

.uevc-side-by-side-container {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 0px;
}

.uevc-side-by-side-container>.video-wrapper {
    width: 50%;
    max-width: 50%;
    height: auto;
    position: relative;
}

.uevc-side-by-side-container>.video-wrapper>video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.uevc-four-grid-container>.video-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.uevc-four-grid-container>.video-wrapper>video {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.uevc-four-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
}